.buttonContainer {
  display: inline-flex;
  position: relative;
  flex-shrink: calc(90px + 2vmin);
  border-radius: 0px;
  border: 0;
  background-color: #ffff;
  cursor: pointer;
  &:active {
    background-color: #d8d5d5;
    opacity: 0.5;
  }
  &Active {
    background-color: #d8d5d5;
    opacity: 0.5;
  }
  &InActive {
    background-color: #ffff;
    opacity: 1;
  }
  &:hover {
    opacity: 0.9;
    transition: ease-in 0.1s;
  }
  .buttonLabel {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: calc(10vmin);
    margin: calc(0.5vmin) auto;
    font-size: calc(1px + 2vmin);
    height: 100%;
    cursor: pointer;
    > input {
      height: 100%;
      border: none;
      width: 100%;
      cursor: pointer;
      background-color: #ffff;
    }
  }
}
